.filterTitle {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 22px;
    letter-spacing: 2px;
    margin: 15px 0;
    padding-bottom: 5px;
}

.filterSet {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 15px;
}