@import '~@styles/_variables.scss';

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 5%;
    position: relative;
    z-index: 50;

    @media (min-width: $breakpoint-small) {
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        flex-direction: row;
        position: sticky;
        top: 0;
    }
}
