@import '~@styles/_variables.scss';

.productPurchasing {
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 3px;
    grid-area: "purchase";
    padding: 10px;
}

.purchaseTitle {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    margin-bottom: 10px;
    padding: 0 0 5px 5px;
    font-size: 22px;
    letter-spacing: 2px;
}

.addProductContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @media (min-width:$breakpoint-small) {
        flex-direction: column;
    }

    .addProductButton {
        background-color: #fff;
        border: none;
        border-radius: 3px;
        font-size: 16px;
        margin-left: auto;
        width: 111px;

        &:active {
            background-color: rgba(255, 255, 255, 0.8)
        }

        &:disabled {
            background-color: rgba(255, 255, 255, 0.5);
        }
    
        @media (min-width: $breakpoint-small) {
            font-size: 18px;
            margin-top: 10px;
            margin-left: 0;
            flex: 0;
        }
    }
}