@import '~@styles/_variables.scss';

.productPage {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: "image   "
                         "purchase"
                         "details "
    ;

    @media (min-width: $breakpoint-small) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "image   image   image"
                             "details details purchase"
;
    }
}