@import '~@styles/_variables.scss';

.filterBar {
    background-color: rgba(50, 50, 50, 0.8);
    color: #fff;
    margin-bottom: 10px;
    padding-right: 10px;
    position: sticky;
    top: 0;
    text-align: right;

    @media (min-width: $breakpoint-small) {
        margin-bottom: 0;
        width: 200px;
    }
}