.filterItem {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: none;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 5px;
    text-align: right;
}