@import '~@styles/_variables.scss';

.searchPageOverview {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: 0 5% 5%;
    width: 90%;

    @media (min-width: $breakpoint-small) {
        flex-direction: row;
    }
}